@charset "utf-8";

body {
    background-color:lightskyblue;
    font-family: sans-serif;
  }
  
  h1 {margin:1px;
    color:darkcyan;
    font-size:80px;
    letter-spacing: 20px;
    text-align: center;
    text-transform: uppercase;
  }
  p::first-letter {
    float: left;
    color:darkcyan;
    font-size: 70px;
    font-style: normal;
    line-height: 45px}
p{

  float: left;
  width: 250px;
  height: 250px;
  overflow: auto;
  border:darkblue 5px dashed;
  margin: 10px;
  padding: 10px;
  background-color:lightseagreen;
  font-size: 25px;}